/*-- ESTILOS PARA EL HEADER --*/
.contenido{
    width: 100%;
    padding: 0 0.5em;
}

header{
    animation: slidein 2s;
}

@keyframes slidein {
    0%{
        margin-top: 150%;
    }
    60%{
        margin-top: -5%;
    }
    100%{
        margin-top: 0%;
    }

}
.cabezera{
    width: 100%;
    background: #5b7989;
    border-radius: 10PX 10px 0 0;
    display: flex;
    flex-flow: column;
    align-items: center;

}

.titulo{
    color: white;
    text-shadow: 0 0 2px #02010a;

}

.menu__container__items{
    display: flex;
    flex-flow: row;
    list-style: none;
    padding: 1em;
}

.menu__item{
    text-decoration: none;
    color: white;
    padding: 1em;
}

.menu__item:hover{
    text-decoration: underline;
}

/*-- ESTILOS PARA EL CUERPO --*/

.contenedor-imagenes{
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

/*-- Estilos para la imagen de inicio --*/

#inicio{
    background: #82c3a6;
    padding: 1em;

}

#inicio__imagen{
    width: 100%;
}

/*-- Estilos para la imagenes secundarias --*/

.imagenes__secundarias{
    display: flex;
    flex-flow: column;
    width: 100%;
    background: #d5c75f;
    padding: 1em;

}

.galeria__secundaria{
    width: 100%;
    border: 1px solid black;
    margin-bottom: 1em;
}

/*-- Efectos a la Galeria --*/

#galeria__img__1{
    filter: blur(10px);
}

/* Aplicacion de Filtros a pares con even e impares con odd*/
.imagenes__secundarias > img:nth-child(even){
    filter: grayscale(100%);
}

#galeria__img__3{
    filter: sepia(90%);
}

/*-- ESTILOS PARA EL FOOTER --*/
.footer{
    border-radius: 0 0 10px 10px;
    background: #C6d5c5;
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    padding: 1em;
}

.contacto{
    padding: 0.5em;
    line-height: 1.5em;
}

.terminos{
    padding: 0.5em;
    line-height: 1.5em;
}

.redes__horizontales{
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    padding: 1em 0em;
    height: 4em;
}

.link__centrados{
    width: 33.3%;
}

.link__centrados > svg{
    width: 33.3%;
}

svg > image{
    width: 2em;
}

.derechos{
    padding: 0.5em;
    line-height: 1.5em;
}
